.test{
  width: 90%;
  height: 90%;
  z-index:0;

}


/* Extra code that you just need. */

html,
body {
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 90%;
    height: 90%;
}